<div class="container-fluid">
    
    <image src="http://smithmeadows.com/wp-content/uploads/2012/04/P4250007.jpg" alt="posts" style="width:100%;">
    <div class="app-main well">
    <div class="container text-center"><%= link_to "See our posts", posts_path %></div>
    </div>
</div>
