body {

}
h1, h2, .entry-header {
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
}
.site-logo-box {
  margin: auto;
  width:50%;
  height:50%;
}

@media only screen and (max-width: 768px) {
    body {
        background-color: lightblue;
    }
    .entry-main {
      border: 2px solid black;
    }
    .entry-content {
      display: none;
    }
    .entry-title {
      font-weight: bold;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        background-color: lightblue;
        font-size: 2rem;
    }
    .entry::before {
      content: "\00a0";
    }
    .entry::after {
      content: "";
      display: block;
      height: 2px;
      width: 100%;
      background: gray;
    }
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #abcdef;
    }
}
