<div class="container-fluid">
<p id="notice"><%= notice %></p>

<%= render "visualization" %>


<%= smart_listing_render(:asteroids) %>


<br>

<p> CONTROLS: Hold left-click to rotate; Hold right-click to pan; Mouse wheel to zoom</p>

</div>