<%= render :partial => "title" %>

<div id='quizzes'>
    <ul>
        <% @types.each_with_index do |c, i| %>
            <li><input type='radio' name='answer' value='<%= c %>' /><%= c %></li>
        <% end %>
    </ul>
</div>

<div class='button' id='start'>Start!</div>
