<%= render :partial => "title" %>

<h1><%= @notice + @correct.to_s %></h1>
<h1><%= @percentage + @score.to_s + '%' %></h1>
<div class='button' id='restart'>Retake</div>
<div class='button' id='return'>Different quiz</div>
